@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Varela+Round&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #efefef;
}

h1 {
    font-family: 'Architects Daughter', cursive;
    color: #2b2b2b;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    margin-bottom: 15px;
    padding-left: 20px;
}

.musixplore-icon-link {
    text-decoration: underline solid #FFEE58;
}

.musixplore-icon-link:visited {
    color: #2b2b2b;
}

.musixplore-icon-link:link {
    color: #2b2b2b;
}

h2 {
    font-family: 'Architects Daughter', cursive;
    color: #2b2b2b;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 15px;
    margin-bottom: 2px;
    padding-left: 20px
}

.form {
    margin: 20px;
    margin-bottom: 30px;
    display: grid;
    grid-template-columns: 5fr 1fr;
    padding-left: 20px;
    padding-right: 20px;
}

.input[type="text"]{
    font-family: 'Varela Round', sans-serif;
    font-size: 1rem;
    padding: 0.5rem 2rem;
    border-radius: 30px 0px 0px 30px;
    border-width: 2px 0px 2px 2px;
    border-style: solid;
    border-color: #FFEE58;
    background-color : #ffffff; 
}

.searchButton {
    background-color: #FFEE58;
    color: #2b2b2b;
    padding: 0.5rem 2rem;
    font-family: 'Varela Round', sans-serif;
    font-size: 1rem;
    border-radius: 0px 30px 30px 0px;
    border-width: 2px;
    border-style: solid;
    border-color: #FFEE58;
    cursor: pointer;
    transition: background-color 250ms, border-color 250ms;
}

.button:hover {
    background-color: #FFF59D;
    border-color: #FFF59D;
    color: #757575;
}

h3 {
    font-family: 'Architects Daughter', cursive;
    color: #2b2b2b;
    margin-top: 20px;
    margin-bottom: 20px;
}

.browse-category, 
.featured-playlists-category, 
.playlists-category, 
.songs-catergory, 
.song-info-category, 
.new-releases-category,
.album-catergory,
.artist-category{
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 15px;
    margin-bottom: 15px;
    padding-left: 20px;
    padding-right: 20px;
}

.category {
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: flex-start;
    border-top: 2px solid #FFEE58;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    overflow: auto;
    white-space: nowrap;
}

.category-tile, 
.artist-tile, 
.featured-playlist-tile,
.new-releases-tile {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #cccccc;
    padding: 1.5rem;
    word-wrap: break-word;
}

.category-tile-link, 
.playlist-tile-link, 
.artist-tile-link, 
.featured-playlist-tile-link,
.new-releases-tile-link{
    font-family: 'Varela Round', sans-serif;
    color: #2b2b2b;
    word-wrap: break-word;
    transition: color 250ms;
    margin-right: 1.5rem;
}

.category-tile-link:link, 
.playlist-tile-link:link, 
.artist-tile-link:link, 
.featured-playlist-tile-link:link,
.new-releases-tile-link:link{
    text-decoration: none;
}

.category-tile-link:hover, 
.playlist-tile-link:hover, 
.artist-tile-link:hover, 
.featured-playlist-tile-link:hover,
.new-releases-tile-link:hover {
    color: #FFEE58;
}

.playlists {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: space-between;
    border-top: 2px solid #FFEE58;
    padding-top: 1.5rem;
    overflow: auto;
    white-space: nowrap;
    flex-wrap: wrap;
}

.playlist-tile {
    margin-right: 1.5rem;
    margin-bottom: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #cccccc;
    padding: 1.5rem;
}

.playlist-img,
.category-img, 
.artist-img, 
.featured-playlist-img, 
.new-releases-img {
    width: 274px;
    height: auto;
    padding-bottom: 1.5rem;
}

.playlist-info {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.songs, .album {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top: 2px solid #FFEE58;
    padding-top: 1.5rem;
}

.song-tile {
    display: grid;
    grid-template-columns: 3fr 1fr;
    background-color: #cccccc;
    font-family: 'Varela Round', sans-serif;
    font-size: 1rem;
    color: #2b2b2b;
}

.song-tile-link {
    margin: 0rem 10rem 1.5rem;
}

.song-tile-link .song-name {
    font-family: 'Architects Daughter', cursive;
    color: #2b2b2b;
    font-size: 1.75rem;
    transition: color 250ms;
}

.song-tile-link:link{
    text-decoration: none;
}

.song-tile-link:hover .song-name{
    color: #FFEE58;
}


.album-img {
    width: 274px;
    height: auto;
    align-items: center;
    background-color: #cccccc;
    padding: 1.5rem;
}    

.song-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 3rem;
}

.list-of-artists {
    display: flex;
    flex-direction: row;
}

.song-details {
    margin-top: 1.5rem;
    display: flex;
    flex-direction: column;
}

.song-detail, .album-detail {
    margin-top: 1rem;
}

.album-section {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 2rem;
    padding-bottom: 1.5rem;
}

.album-info {
    display: flex;
    flex-direction: column;
    margin-left: 3rem;
}

.album-name {
    font-family: 'Architects Daughter', cursive;
    color: #2b2b2b;
    font-size: 1.75rem;
}

.album-details {
    font-family: 'Varela Round', sans-serif;
    font-size: 1rem;
    color: #2b2b2b;
    margin-top: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.song-detail-section {
    font-family: 'Varela Round', sans-serif;
    font-size: 1rem;
    color: #2b2b2b;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 1.5rem;
    padding-bottom: 3rem;
    padding-top: 2rem;
    border-top: 2px solid #FFEE58;
    border-bottom: 2px solid #FFEE58;
}

.song-detail .preview, .album-detail .preview {
    color: #2b2b2b;
}

.song-detail .preview:link, .album-detail .preview:link {
    text-decoration: underline #FFEE58;
}